.input {
    color: #FFF;
    border: none;
    background: none;
    font-size: 14px;
    font-style:  normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #323232;
    width: 100%;
}

.input-title {
    color: #FFF;
    font-size: 32px;
}

.invalid {
    background: rgb(70, 39, 39) ;
    border: 1 px solid red
}