

.jourmal-item_header {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.jourmal-item_date {
    color: rgba(255,255,255,0.4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.jourmal-item_text {
    color: rgba(255,255,255,0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
}

.jourmal-item_body{
    display: flex;
    gap: 10px;
}