.journal-form {
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-label {
    color: #FFF;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 150px;
}

.input {
    color: #FFF;
    border: none;
    background: none;
    font-size: 14px;
    font-style:  normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Source Sans 3', sans-serif;
    border-bottom: 1px solid #323232;
    width: 100%;
}
.form-row{
    color: #FFF;
    display: flex;
    align-items: center;
}



.invalid {
    background: rgb(70, 39, 39) ;
    border: 1 px solid red
}

.delete {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 30px;
    width: 30px;
}

.delete:hover {
    background: rgb(255,255,255,0.05);
    border-radius: 50%;
}